
    <%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= home %> </p>
    <% postinfo.forEach(function(post){ %>
      <h1> <%= post.title %></h1>
      <p id="cont"> <%= post.content.substring(0,100)+"..." %> <a href="/post/<%= post.title %>">read more</a> </p>
    <% }); %>
    <%- include("partials/footer"); -%>
